html {
    height: 100%;
    min-width: 300px
}

header {
    position: absolute;
    width: 100%;
    z-index: 30;
    background-color: rgba(0, 0, 0, 0.2);
    height: 92px
}

header #header-wrapper #logo img.img-ie10 {
    display: none
}

.modal {
    z-index: 999
}

.modal-open header {
    padding-right: 17px
}

.fade.in {
    opacity: 1
}

#flash {
    margin-right: 0;
    margin-left: 0
}

#flash.flashhide {
    display: none
}

#flash .col-md-12 {
    padding-right: 0;
    padding-left: 0
}

#header-wrapper {
    position: relative;
    max-width: 1140px;
    margin: auto;
    height: 100%
}

#logo {
    max-width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit
}

#contact a {
    text-decoration: underline;
    color: #FFF
}

.navbar-toggle {
    position: relative;
    float: right;
    margin-right: 15px;
    padding: 9px 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    border-color: #ddd;
    cursor: pointer
}

.collapse.in {
    display: block
}

.icon-bar {
    background-color: #888;
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    margin: 4px 0
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0
}

#menumobile {
    background-color: #999;
    width: 100%;
    position: absolute;
    top: 100px
}

#menumobile ul li a {
    border: none;
    background-color: transparent;
    color: #FFF;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 2px solid transparent
}

#topmenu {
    margin-bottom: 0;
    margin-right: 0;
    width: 100%;
    position: absolute;
    bottom: 0
}

#topmenu ul {
    float: right
}

#topmenu ul li a {
    text-decoration: none;
    background-color: transparent;
    color: #FFF;
    text-transform: uppercase;
    font-weight: bold;
    padding: 15px;
    font-size: 15px
}

#topmenu ul #homeLink,
#menumobile ul #homeLink,
#topmenu ul #browseLink,
#menumobile ul #browseLink,
#topmenu ul #howitworksLink,
#menumobile ul #howitworksLink,
#topmenu ul #loginLink,
#menumobile ul #loginLink,
#topmenu ul #signupLink,
#menumobile ul #signupLink,
#topmenu ul #supportLink,
#menumobile ul #supportLink,
#topmenu ul #startYourFreeTrial,
#menumobile ul #startYourFreeTrial,
#topmenu ul #mobMenuhomeLink,
#menumobile ul #mobMenuhomeLink,
#topmenu ul #mobMenubrowseLink,
#menumobile ul #mobMenubrowseLink,
#topmenu ul #mobMenuhowitworksLink,
#menumobile ul #mobMenuhowitworksLink,
#topmenu ul #mobMenulmobMenuoginLink,
#menumobile ul #mobMenulmobMenuoginLink,
#topmenu ul #mobMenusignupLink,
#menumobile ul #mobMenusignupLink,
#topmenu ul #mobMenusupportLink,
#menumobile ul #mobMenusupportLink,
#topmenu ul #mobMenustartYourFreeTrial,
#menumobile ul #mobMenustartYourFreeTrial {
    display: none
}

@media only screen and (max-width:768px) {
    #logo img {
        width: 180px
    }
    #topmenu {
        display: none
    }
    #contact {
        color: white;
        position: absolute;
        top: 70px;
        right: 3px;
        font-size: 13px;
        padding-top: 5px
    }
    .navbar-toggle {
        display: block
    }
}

@media only screen and (min-width:769px) {
    #logo img {
        max-width: 300px
    }
    #login-modal .modal-dialog,
    #ppvFP .modal-dialog {
        width: 600px;
        max-width: 600px
    }
    #menumobile {
        display: none
    }
    #contact {
        color: white;
        position: relative;
        margin-top: 0;
        float: right;
        font-size: 13px;
        padding-top: 5px
    }
    .navbar-toggle {
        display: none
    }
}

#login-modal,
#ppvFP {
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 80px
}

#login-modal .modal-content,
#ppvFP .modal-content {
    max-width: 600px
}

#login-modal .modal-header,
#ppvFP .modal-header {
    height: 56px;
    position: relative;
    background-color: #666666;
    color: #FFFFFF;
    font-family: 'Questrial', sans-serif
}

#login-modal .modal-header button,
#ppvFP .modal-header button {
    position: absolute;
    right: 10px;
    top: 5px;
    color: #FFFFFF
}

#login-modal .modal-header h4,
#ppvFP .modal-header h4 {
    font-size: 18px;
    text-align: center;
    width: 100%
}

#login-modal .modal-body .logologin,
#ppvFP .modal-body .logologin {
    text-align: center;
    margin-bottom: 15px
}

#login-modal .modal-body img,
#ppvFP .modal-body img {
    max-width: 250px;
    margin: auto
}

#login-modal .modal-body .form-control,
#ppvFP .modal-body .form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-family: 'Questrial', sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

#login-modal .modal-body .btn,
#ppvFP .modal-body .btn {
    display: inline-block;
    margin-bottom: 0;
    font-family: 'Questrial', sans-serif;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

#login-modal .modal-footer,
#ppvFP .modal-footer {
    background-color: #666666;
    font-family: 'Questrial', sans-serif;
    position: relative
}

#login-modal .modal-footer a,
#ppvFP .modal-footer a {
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'Questrial', sans-serif;
    font-size: 14px
}

#login-modal .modal-footer a:hover,
#ppvFP .modal-footer a:hover {
    text-decoration: underline
}

#login-modal .modal-footer .noAccount,
#ppvFP .modal-footer .noAccount {
    display: inline-block;
    width: 50%;
    right: 15px;
    top: 5px;
    text-align: right
}

#login-modal .modal-footer .forgotPass,
#ppvFP .modal-footer .forgotPass {
    display: inline-block;
    width: 50%;
    left: 15px;
    top: 5px
}

html body header #header-wrapper {
    display: grid;
    grid-template-areas: 'newPrice newPrice newPrice' 'contact logo topMenu'
}

@media only screen and (max-width:768px) {
    html body header #header-wrapper {
        grid-template-areas: 'newPrice newPrice' 'logo topMenu' 'contact contact'
    }
}

html body header #header-wrapper #topmenu {
    position: relative;
    top: 8px;
    grid-area: topMenu
}

html body header #header-wrapper #contact {
    position: relative;
    top: 0;
    padding-left: 5px;
    grid-area: contact
}

html body header #header-wrapper #logo {
    position: relative;
    top: 0;
    grid-area: logo
}

html body header #header-wrapper #newPricePointNotice {
    grid-area: newPrice
}